<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/addWeatherDataForm" method="post" th:object="${addWeatherDataForm}"><div>
        <table bgcolor="silver">
            <tr>
                <td>PPodaj nazwe miasta:</td><td><input type="text" th:field="*{cityName}"></td>
            </tr>
            <tr>
                <td>Podaj temperature:</td><td><input type="number" th:field="*{temperature}"></td>
            </tr>
            <tr>
                <td>Podaj wilgotność:</td><td><input type="number" th:field="*{humidity}"></td>
            </tr>
            <tr>
                <br>
                <td colspan="3" align="center"><br>
                    <input type="submit" value="Dodaj">
                    <input type="reset" value="Wyczyść">
                    <a href="/weatherStatisticView"> Wyświetl statystyki pogodowe</a>
                </td>
            </tr>
        </table>
    </div></form>
</body>
</html>